
<!DOCTYPE html>
<html lang="en">
  <head>
    	<title>Home Page</title>
    	<style type="text/css">
    		.box, canvas{
    			height: 200px;
    			width: 200px;
    			border: 1px solid black;
    		}
    	</style>
  </head>

  <body>

    <div class="container">
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Welcome to Group Sketch!</h1>
        <p class="lead">The perfect place for drawing collaboration for you and your friends!</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Create a new room</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Create whiteboard</h2>
	
          <canvas id="canvas" width='200' height='200'>hi</canvas>

        </div>
        <div class="col-lg-4">
          <h2>Invite coworkers/friends</h2>

          <div class="box">
          </div>

       </div>
        <div class="col-lg-4">
          <h2>Have fun!!</h2>

          <div class="box">
          </div>

        </div>
      </div>

      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
